@import 'styles.scss';

.bed-wrapper{
    mat-expansion-panel, mat-card{
    width: 48% !important;
    }
    mat-card{
        margin-top: 15px;
    }
    @media (max-width: 950px) {
        mat-expansion-panel, mat-card{
            width: 100% !important;
        }
        mat-panel-description{
            display: none;
        }
    }
}