@import 'styles.scss';

.bed-wrapper{
    mat-expansion-panel, mat-card{
    width: 49.5% !important;
    margin-bottom: 15px;
    }
    @media (max-width: 950px) {
        mat-expansion-panel, mat-card{
            width: 100% !important;
        }
        mat-panel-description{
            display: none;
        }
    }

    mat-card{
        h2{
            margin: 5px;
            font-size: 1.2em;
        }
    }

    .global-chart-wrapper{
        padding: 20px;
        position: relative;
    }

    .chart-wrapper{
        width: 100%;
        overflow-x: auto;
        overflow-y:hidden;
        direction: rtl;
    }

    .chart-wrapper > canvas {
        position: absolute;
        left: 20px;
        top: 20px;
        pointer-events: none;
    }

    .chartAreaWrapper {
        width: 100%;
        overflow-x: scroll;
    }
}