<section class="bed-wrapper animated fadeInLeft d-flex justify-content-between align-items-center flex-wrap" *ngIf="!patientData.getId()">
  <mat-card class="w-100">
    <b>{{ 'pages.bed.no-patient-in-bed' | translate }}:</b>
    <span class="smaller padding-l-5-px">
      {{ 'pages.bed.insert-info-patient' | translate }}
    </span>
  </mat-card>
</section>
<section class="bed-wrapper animated fadeInLeft d-flex justify-content-between align-items-center flex-wrap">
  <mat-expansion-panel [expanded]="allExpandState">
    <mat-expansion-panel-header (click)="allExpandState = !allExpandState">
      <mat-panel-title>
        {{ "pages.bed.patient-data" | translate }}
      </mat-panel-title>
      <mat-panel-description class="notification-bell active d-flex justify-content-end align-items-center  padding-r-10-px">
        <span class="fa fa-heartbeat" title="Ppm alarm" [hidden]="!hasAlarm(1)"></span>
        <span class="fa fa-cloud" title="Spo2 alarm" [hidden]="!hasAlarm(2)"></span>
        <span class="fa fa-thermometer-full" title="Temp alarm" [hidden]="!hasAlarm(3)"></span>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div class="w-100 d-flex justify-content-between">
      <mat-form-field class="w-45">
        <mat-label>{{ 'pages.bed.surname' | translate }}</mat-label>
        <input matInput [(ngModel)]="patientData.surname" [readonly]="!editPatientData"/>
      </mat-form-field> 
      <mat-form-field class="w-45">
        <mat-label>{{ 'pages.bed.lastname' | translate }}</mat-label>
        <input matInput [(ngModel)]="patientData.lastname" [readonly]="!editPatientData"/>
      </mat-form-field> 
    </div>

    <div class="w-100 d-flex justify-content-between">
      <mat-form-field class="w-45">
        <mat-label>{{ 'pages.bed.hospitalReference' | translate }}</mat-label>
        <input matInput [(ngModel)]="patientData.hospital_reference" [readonly]="!editPatientData"/>
      </mat-form-field> 
      <mat-form-field class="w-45">
        <mat-label>Sensor id</mat-label>
        <input matInput [(ngModel)]="patientData.id_sensor" [readonly]="!editPatientData"/>
      </mat-form-field> 
    </div>

    <div class="w-100 d-flex justify-content-between margin-b-15-px">
      <div>
        <button class="margin-r-15-px" mat-raised-button color="primary" (click)="editPatientData = true" *ngIf="!editPatientData">{{'common.edit' | translate}}</button>
        <button class="margin-r-15-px" mat-raised-button color="" (click)="exchangePatient()" *ngIf="!editPatientData">{{'pages.bed.exchange-patient' | translate}}</button>
      </div>
      <div>
        <button  mat-raised-button color="warn" (click)="dischargePatient()" *ngIf="!editPatientData">{{'pages.bed.discharge-patient' | translate}}</button>
        <button  mat-raised-button color="primary" (click)=" editPatientData=false; savePatientData()" *ngIf="editPatientData">{{'common.save' | translate}}</button>
      </div>
    </div>

  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="allExpandState" >
    <mat-expansion-panel-header (click)="allExpandState = !allExpandState">
      <mat-panel-title>
        {{ "pages.bed.sensor-configuration" | translate }}
      </mat-panel-title>
      <mat-panel-description class="d-flex justify-content-end align-items-center notification-bell active padding-r-10-px" *ngIf="sensorData && sensorData.length > 0 && sensorData[sensorData.length-1]">
        <span class="fa fa-battery-4" [title]="sensorData[sensorData.length-1]['batt']+'%'" [hidden]="sensorData[sensorData.length-1]['batt'] <= 75"></span>
        <span class="fa fa-battery-3" [title]="sensorData[sensorData.length-1]['batt']+'%'" [hidden]="sensorData[sensorData.length-1]['batt'] <= 50 || sensorData[sensorData.length-1]['batt'] > 75"></span>
        <span class="fa fa-battery-2" [title]="sensorData[sensorData.length-1]['batt']+'%'" [hidden]="sensorData[sensorData.length-1]['batt'] <= 25 || sensorData[sensorData.length-1]['batt'] > 50"></span>
        <span class="fa fa-battery-1" [title]="sensorData[sensorData.length-1]['batt']+'%'" [hidden]="sensorData[sensorData.length-1]['batt'] > 25"></span>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div class="w-100 d-flex justify-content-between">
      <mat-form-field class="w-45">
        <mat-label>SPO2 max</mat-label>
        <input matInput [(ngModel)]="patientData.spo2_max" [readonly]="!editPatientData"/>
      </mat-form-field> 
      <mat-form-field class="w-45">
        <mat-label>SPO2 min</mat-label>
        <input matInput [(ngModel)]="patientData.spo2_min" [readonly]="!editPatientData"/>
      </mat-form-field> 
    </div>

    <div class="w-100 d-flex justify-content-between">
      <mat-form-field class="w-45">
        <mat-label>PPM max</mat-label>
        <input matInput [(ngModel)]="patientData.pulse_max" [readonly]="!editPatientData"/>
      </mat-form-field> 
      <mat-form-field class="w-45">
        <mat-label>PPM min</mat-label>
        <input matInput [(ngModel)]="patientData.pulse_min" [readonly]="!editPatientData"/>
      </mat-form-field> 
    </div>

    <div class="w-100 d-flex justify-content-between">
      <mat-form-field class="w-45">
        <mat-label>Temp max</mat-label>
        <input matInput [(ngModel)]="patientData.temp_max" [readonly]="!editPatientData"/>
      </mat-form-field> 
      <mat-form-field class="w-45">
        <mat-label>Temp min</mat-label>
        <input matInput [(ngModel)]="patientData.temp_min" [readonly]="!editPatientData"/>
      </mat-form-field> 
    </div>

  </mat-expansion-panel>

  <mat-card class="mat-card-chart">
    <h2>SPO2</h2>
    <div class="global-chart-wrapper">
      <div class="chart-wrapper">
        <div class="canvas-wrapper" style="position: relative; height: 300px" [style.width.%]="canvasWidth" >
          <canvas id="lineChartSPO2"  height="300" width="0">
          </canvas>
        </div>
        <canvas id="lineChartSPO2yaxe" height="300" width="0"></canvas>
      </div>
    </div>
  </mat-card>

  <mat-card class="mat-card-chart">
    <h2>PPM</h2>
    <div class="global-chart-wrapper">
      <div class="chart-wrapper">
        <div class="canvas-wrapper" style="position: relative; height: 300px" [style.width.%]="canvasWidth">
          <canvas id="lineChartPPM"  height="300" width="0">
          </canvas>
        </div>
        <canvas id="lineChartPPMyaxe" height="300" width="0"></canvas>
      </div>
    </div>
  </mat-card>

  <mat-card class="mat-card-chart">
    <h2>{{ 'pages.bed.temperature' | translate }}</h2>
    <div class="global-chart-wrapper">
      <div class="chart-wrapper">
        <div class="canvas-wrapper" style="position: relative; height: 300px" [style.width.%]="canvasWidth">
          <canvas id="lineChartTEMP"  height="300" width="0">
          </canvas>
        </div>
        <canvas id="lineChartTEMPyaxe" height="300" width="0"></canvas>
      </div>
    </div>
  </mat-card>
</section>
