<section
  class="bed-wrapper animated fadeInLeft d-flex justify-content-between align-items-center flex-wrap"
>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ "pages.bed.patient-data" | translate }}
      </mat-panel-title>
      <mat-panel-description></mat-panel-description>
    </mat-expansion-panel-header>

    <mat-form-field>
      <mat-label>First name</mat-label>
      <input matInput />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Age</mat-label>
      <input matInput type="number" min="1" />
    </mat-form-field>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ "pages.bed.sensor-configuration" | translate }}
      </mat-panel-title>
      <mat-panel-description>
        {{ "pages.bed.sensor-configuration-desc" | translate }}
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-form-field>
      <mat-label>First name</mat-label>
      <input matInput />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Age</mat-label>
      <input matInput type="number" min="1" />
    </mat-form-field>
  </mat-expansion-panel>

  <mat-card >
    <div class="chart-wrapper">
      <div class="canvas-wrapper" style="width: 3000px; height: 300px">
        <canvas baseChart 
            [datasets]="lineChartData" 
            [labels]="lineChartLabels" 
            [options]="lineChartOptions"
            [colors]="lineChartColors" 
            [legend]="lineChartLegend" 
            [chartType]="lineChartType" 
            [plugins]="lineChartPlugins"  height="300" width="0">
        </canvas>
      </div>
    </div>
  </mat-card>
</section>

<!-- 
  http://jsfiddle.net/mbhavfwm/
  https://stackoverflow.com/questions/44426939/how-to-use-canvas-in-angular2
  https://stackoverflow.com/questions/4405336/how-to-copy-contents-of-one-canvas-to-another-canvas-locally
-->