<div class="notifications-list">
    <mat-card *ngFor="let al of alarms.reverse(); let i = index" class="notification-bell animated fadeInRight active pointer" [ngClass]="{'critical': al.status === 2}" (click)="closeAndGo(i, al.id_bed)">
        <span class="text">{{al.area_desc}} - {{ al.room_desc}}</span>
        <span class="fa fa-bell margin-r-10-px"></span>
    </mat-card>
</div>
<div class="notification-bell in-circle" [ngClass]="getGeneralAlarmClass()" routerLink="/alarms"><span class="fa fa-bell"></span></div>
