
@import 'styles.scss';
$bc-color: #cecafa;
$bc-hover: #d8d4fa;

@mixin inline {
	display: table-cell;
	*display: inline;
	zoom: 1;
	vertical-align: top;
}

  

.bread-crumbs-wrapper{
    width: 100%;
    margin: 0px;
}
ul.breadcrumbs {
	margin: 0px 0px 0px;
	padding: 0px;
	font-size: 0px;
	line-height: 0px;
	@include inline;
    height: 40px;
    overflow: show;

	li {
		position: relative;
		margin: 0px 0px;
		padding: 0px;
		list-style: none;
		list-style-image: none;
		@include inline;
		border-left: 0px solid #ccc;
		border-right: 0px solid #ccc;
		

		.definition{
			display: none;
		}

		&.disabled{
			cursor: not-allowed !important;
			&:before {
				border-left: 10px solid rgb(240, 240, 240);
			}

			a, span, div{
				background-color: rgb(240, 240, 240);
			}
			&:hover {
				&:before {
					border-left: 10px solid rgb(240, 240, 240);;
				}
	
				a, span, div {
					color: #000;
					background: rgb(240, 240, 240);;
				}
	
			}
		}

		&:hover {

			.definition{
				display: inline-block;
			}
			.value{
				display: none;
			}

			&:before {
				border-left: 10px solid $bc-hover;
			}

			a, span, div {
				color: #000;
				background: $bc-hover;
			}

		}
		&.active {
			&:before {
				border-left: 10px solid $bc-color;
			}

			a, span, div {
				color: #000;
				background: $bc-color;
			}

		}
		
		&:before {
			content:"";
			position: absolute;
			right: -8px;
			top: -1px;
			z-index: 20;
			border-left: 10px solid #fff;
			border-top: 22px solid transparent;
			border-bottom: 22px solid transparent;
            
        }

		&:after {
			content:"";
			position: absolute;
			right: -10px;
			top: -1px;
			z-index: 10;
			border-left: 10px solid #ccc;
			border-top: 22px solid transparent;
			border-bottom: 22px solid transparent;
		}
        

		&.first {

			a, span, div {
				padding-left: 20px;
				border-radius: 5px 0px 0px 5px;
			}
		}

		&.last {

			&:before {
				display: none;
			}
			&:after {
				display: none;
			}

			a, span, div {
				padding-right: 20px;
				border-radius: 0px 40px 40px 0px;
			}
		}

		a, span, div {
			display: block;
			font-size: 12px;
			line-height: 40px;
			color: #757575;
			padding: 0px 15px 0px 25px;
			text-decoration: none;
			background: #fff;
			border: 1px solid #ddd;
			white-space:nowrap;
			overflow: hidden;
			

		}
	}
}