@import 'styles.scss';

.header{
    background-color: $header-bg-color;
    color: $header-font-color;
    h1{
        font-size: 1.3em;
        font-family: sans-serif;
        img{
          height: 40px;
          padding-right: 10px;
        }
    }
    button{
        font-size: 1em;
        span.fa{
            vertical-align: initial !important;
            padding-right: 5px;
            font-size: 1.1em;
        }
    }
}
