<section class="cards-wrapper-list animated fadeInLeft d-flex justify-content-center align-items-center flex-wrap">
    <mat-card class="pointer" *ngFor="let room of rooms" >
        <div class="d-flex justify-content-around align-items-center">
            <div>
                <div class="notification-bell inline-block" *ngIf="globalService.alarmsSubscriptionService.isSubscribed(paramId, room.id )"  [ngClass]="{'active': globalService.alarmsService.socketService.hasActiveAlarmIn(null, room.id)}">
                    <span class="fa fa-bell margin-r-10-px"></span>
                </div>
                {{room.desc}}
            </div>
        </div>
        <div class="d-flex justify-content-between align-items-center">
            <button mat-raised-button color="secundary" class="margin-t-10-px margin-l-5-px margin-r-5-px"
            routerLink="/room/{{paramId}}/{{room.id}}" (click)="globalService.setRoom(room)" [disabled]="!globalService.alarmsSubscriptionService.isSubscribed(paramId, room.id)" >
                {{'common.view-room' | translate }}
            </button>
            <button [hidden]="globalService.alarmsSubscriptionService.isSubscribed(paramId, room.id)" mat-raised-button color="primary" class="margin-t-10-px margin-l-5-px margin-r-5-px "
            (click)="globalService.alarmsSubscriptionService.setSubscription(globalService.getFloor().id, paramId, room.id)">
                {{'common.subscribe' | translate }}
            </button>
            <button [hidden]="!globalService.alarmsSubscriptionService.isSubscribed(paramId, room.id)" mat-raised-button color="warn" class="margin-t-10-px margin-l-5-px margin-r-5-px "
            (click)="globalService.alarmsSubscriptionService.unsetSubscription(globalService.getFloor().id, paramId, room.id)">
                {{'common.unsubscribe' | translate }}
            </button>
        </div>
    </mat-card>
    <button mat-raised-button (click)="addRoom()" *ngIf="globalService.authService.hasPermission('editHospitalStructure')">
        <span class="pointer padding-r-10-px fa fa-plus"></span>
        <span>{{'actions.addRoom' | translate}}</span>
    </button>
</section>