@import './constants.scss';
@import './mixins.scss';

body {
  background-color: $body-bg-color !important;
	margin: 0 auto;
	font-weight: normal;
	font-size: 1.2em;
	text-rendering: optimizeLegibility;
	position: relative;
}
app-notifications{
	position: fixed;
    bottom: 30px;
	right: 20px;
	direction: rtl;
}

.hidden {
	display: none !important;
}
* {
	margin: 0;
	padding: 0;
}

*,
*:after,
*:before {
  @include box-sizing(border-box);
}

.capitalize{
	text-transform: capitalize;
}

.text-center{
  text-align: center;
}

.pointer{
	cursor: pointer !important;
}

.text-bottom{
	vertical-align: text-bottom !important;
}

.invisible{
	opacity: 0 !important;
}

.inline-block{
	display: inline-block !important;
}

.content-wrapper{
    padding: 25px 20px 3.5rem 20px;
}

/*Buttons*/
button {
	padding: 5px 10px;
	&.mat-button{
		outline: 0;
		&.icon-button{
			padding-right: 2px;
			padding-left: 2px;
			min-width: 20px;
			width: 20px;
		}
	}
	&:disabled{
		cursor: not-allowed !important;
	}
}

.required{
	margin-left: 5px;
	&::before {
		content: "*";
		position: absolute;
		left: -7px;
		top: 25%;
	}
}


.fa-warning{
	color: red !important;
}


#page-container{
  position: relative;
  min-height: 100vh;
  app-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;            /* Footer height */
  }
}


mat-card-header{
	.mat-card-header-text{
		margin: 0px;
		width: 100%;
	}
}


.cards-wrapper-list{
    mat-card{
		margin: 20px;
		padding: 16px;
    }
}

.notification-bell{
    &.in-circle{
        width: 40px;
        height: 40px;
        background-color: rgba(255, 255, 255, 0.877);
        border-radius: 50px;
        border: 1px solid #bebebe;
        padding: 5px 10px;
        cursor: pointer;
    }
    color: #d1d1d1;
    &.active{
        .fa-heartbeat{
			color: red;
		}
        .fa-cloud{
			color: blue;
		}
        .fa-thermometer-full{
			color: orange;
		}
		.fa-battery-quarter, .fa-battery-1{
			color: rgb(255, 77, 77);
		}
		.fa-battery-2, .fa-battery-3, .fa-battery-4{
			color: green;
		}
        .fa-bell{
			color: rgb(255, 187, 0);
            animation: bellshake 2s cubic-bezier(.36,.07,.19,.97) both;
            animation-iteration-count:infinite;
            backface-visibility: hidden;
            transform-origin: top right;
        }
        &.critical{
			color: red;
			.text{
				color: black;
				font-size: .8em;
			}
        }
		.text{
			color: black;
			font-size: .8em;
		}
    }
	.text{
		font-size: .8em;
	}
}





