@import 'styles.scss';
$bc-color: #cecafa;
$bc-hover: #d8d4fa;

@mixin inline {
	display: inline-block;
	*display: inline;
	zoom: 1;
	vertical-align: top;
}

@keyframes bellshake {
    0% { transform: rotate(0); }
    15% { transform: rotate(10deg); }
    30% { transform: rotate(-10deg); }
    45% { transform: rotate(8deg); }
    60% { transform: rotate(-8deg); }
    75% { transform: rotate(5deg); }
    85% { transform: rotate(-5deg); }
    92% { transform: rotate(3deg); }
    100% { transform: rotate(0); }
  }
  

.notifications{
    margin-right: 20px;
    background-color: white;
    color: #d1d1d1;
    border-radius: 50px;
    padding: 10px 10px;
    cursor: pointer;
    &.active{
        color: rgb(255, 187, 0);
        .fa-bell{
            animation: bellshake 2s cubic-bezier(.36,.07,.19,.97) both;
            animation-iteration-count:infinite;
            backface-visibility: hidden;
            transform-origin: top right;
        }
        &.critical{
            color: red;
        }
    }
}

ul.breadcrumbs {
	margin: 0px 0px 0px;
	padding: 0px;
	font-size: 0px;
	line-height: 0px;
	@include inline;
    height: 40px;
    overflow: hidden;

	li {
		position: relative;
		margin: 0px 0px;
		padding: 0px;
		list-style: none;
		list-style-image: none;
		@include inline;
		border-left: 0px solid #ccc;
		border-right: 0px solid #ccc;
		transition: 0.3s ease;

		&:hover {
			&:before {
				border-left: 10px solid $bc-hover;
			}

			a, span {
				color: #000;
				background: $bc-hover;
			}

		}
		
		&:before {
			content:"";
			position: absolute;
			right: -8px;
			top: -1px;
			z-index: 20;
			border-left: 10px solid #fff;
			border-top: 22px solid transparent;
			border-bottom: 22px solid transparent;
			transition: 0.3s ease;
		}

		&:after {
			content:"";
			position: absolute;
			right: -10px;
			top: -1px;
			z-index: 10;
			border-left: 10px solid #ccc;
			border-top: 22px solid transparent;
			border-bottom: 22px solid transparent;
		}


		&.active {

			a, span {
				color: #000;
				background: $bc-color;
			}
		}

		&.first {

			a, span {
				padding-left: 20px;
				border-radius: 5px 0px 0px 5px;
			}
		}

		&.last {

			&:before {
				display: none;
			}
			&:after {
				display: none;
			}

			a, span {
				padding-right: 20px;
				border-radius: 0px 40px 40px 0px;
			}
		}

		a, span {
			display: block;
			font-size: 12px;
			line-height: 40px;
			color: #757575;
			padding: 0px 15px 0px 25px;
			text-decoration: none;
			background: #fff;
			border: 1px solid #ddd;
			white-space:nowrap;
			overflow: hidden;
            transition: 0.3s ease;
		}
	}
}